body{background:#1D1F21}
.highlite{color:#d67b96}
main{background-color:#282A2E;border-color:#373B41}
h1{color:#FFF}
.subtitle{color:#FFF}
.searchBar::-webkit-input-placeholder{color:rgba(0,0,0,0)}
.searchBar{color:rgba(0,0,0,0);border-color:lightgrey}
.searchBar:hover{box-shadow:0 0 5px #FFF;border-color:#FFF}
.searchBar:focus::-webkit-input-placeholder{color:rgba(100,100,100,1)}
.searchBar:focus{color:rgba(100,100,100,1)}
.google{background-image:url(../images/google.png)}
.youtube{background-image:url(../images/youtube.png)}
.wikipedia{background-image:url(../images/wikipedia.jpg)}
.RSwiki{background-image:url(../images/rswiki.ico)}
.RSGE{background-image:url(../images/rs.ico)}
.WoWThott{background-image:url(../images/wowthott.png)}
.WoWHead{background-image:url(../images/wowhead.ico)}
.buttonGrey>a,
.buttonGrey>ul{border-color:#373B41}.buttonGrey>a,
.buttonGrey>ul>li>a{color:#81A2BE;background:#1D1F21}
.buttonGrey>a:after{border-left-color:#373B41}
.buttonGrey:hover>a,
.buttonGrey>ul>li>a:hover{color:#d67b96;background:#70293b}
.buttonGrey:hover>a,
.buttonGrey:hover>ul{border-color:#70293b}
.buttonGrey:hover>a:after{border-left-color:#d67b96}
.buttonGreen>a,
.buttonGreen>ul{border-color:#91b476}.buttonGreen>a,
.buttonGreen>ul>li>a{color:#43644a;background:#729a64}
.buttonGreen>a:after{border-left-color:#91b476}
.buttonGreen:hover>a,
.buttonGreen>ul>li>a:hover{color:#269926;background:#67E667}
.buttonGreen:hover>a,
.buttonGreen:hover>ul{border-color:#67E667}
.buttonGreen:hover>a:after{border-left-color:#269926}
.column{border-right-color:#373B41}
.column>a,
.column>ul>li:before{color:#1D1F21}
.column>a{text-shadow:0 .5px #373B41}
.column>ul>li>a{color:#81A2BE}
.columnPurple:hover>a,
.columnPurple:hover>ul>li:before{color:#3c3a5c}
.columnPurple:hover>a{text-shadow:0 .5px #b9b6d9}
.columnPurple>ul>li>a:hover{color:#b9b6d9}
.columnPink:hover>a,
.columnPink:hover>ul>li:before{color:#70293b}
.columnPink:hover>a{text-shadow:0 .5px #d67b96}
.columnPink>ul>li>a:hover{color:#d67b96}
.columnGreen:hover>a,
.columnGreen:hover>ul>li:before{color:#43644a}
.columnGreen:hover>a{text-shadow:0 .5px #729a64}
.columnGreen>ul>li>a:hover{color:#91b476}